<html>  
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<title>Class List</title>

</head>  
<body style="background-color:black;">
    <div class="container">
       <div class="row">
     <div class="header">
         <h1 style="color:white;"><center> Class List </center></h1>
     </div>
     <div class="col-0">
         <a type="button" href="../frontpage.html" class="btn btn-btn btn-outline-warning btn-lg ms-2">Back</a>
         <a type="button" href="../classes/add.php"  class="btn btn-btn btn-outline-primary btn-lg ms-2" style="float: right;"> Add a Class </a>
     </div> 
       </div>
    </div>
    <div class="table-responsive">
    <table class="table table-bordered table table-black ">
       <thead>
         <tr style="color:white";>
     <th scope="col">ID</th>
     <th scope="col">Class Name</th>
     <th scope="col">Description</th>
     <th scope="col">Class Code</th>
     <th scope="col">Teacher ID</th>
         </tr>
       </thead>
       {{# all_classes }}
        <tbody>
         <tr style="color:white";>
     <th scope="row">{{id}}</th>
     <td>{{ name }}</td>
     <td>{{ description }}</td>
     <td>{{ class_code }}</td>
     <td>{{ teacher_id }}</td>
     <td width="20%">
         <a href="../classes/edit.php?id={{id}}" class="btn btn-outline-success" style="width: 100px">Update</a>
         <a href="../classes/delete.php?id={{id}}" class="btn btn-outline-danger"  style="width: 100px">Remove</a>
     </td>
         </tr>
       </tbody>
       {{/ all_classes }}

     </table>
    </div>
 </div>

